body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    background-image: url(https://desarrolloweb.com/media/268/patron.png);
}

.mi-boton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: black 10px;
    border-radius: 75px;
    cursor: pointer;
    height: 75px;
    width: 75px;
}

.mi-boton:hover {
    background-color: #0056b3;
}
